<a href="/projects/<%=project.id%>" class="projectItem">
  <p class="project-title"><%=project.name%></p>
  <p class="project-author"><%=project.author%></p>

  <p class="project-description"><%=project.description%></p>
</a>
